*{
	margin: 0;
}
a{
	text-decoration: none;
}
header{
	
	background-color: #201e20;
}
.header_main{
	display: flex;
	justify-content: space-between;
	padding-top: 1.05%;
	padding-bottom: 1.05%;
}
.header_section1{
	font-family: 'Bakbak One', cursive;
	font-size: 20pt;
	color: #df8829;
	margin-left: 5%;
	margin-top: 1%;
}
.header_section2{
	font-family: 'Bakbak One', cursive;
	font-size: 18pt;
	display: flex;
	justify-content: space-between;
	color: #df8829;
	width: 10%;
	margin-right: 10%;
}
.help{
	margin-right: 50px;
	vertical-align: middle;
}
#time{
	width: 20%;
	margin-left: 40%;
}
.help_a{
	position: absolute;
    margin-top: 1.1%;
    color: #df8829;
}
.help_a:hover{
	color: #ddc3a5;
}
.header_section1:hover{
	color: #ddc3a5;
}

/* footer */

footer{
	background-color: #201e20;
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
footer a {
	color: #df8829;
}
.prava{
	font-family: 'Bakbak One', cursive;
	font-size: 10pt;
	color: #df8829;
	margin-left: 5%;
	margin-top: 1%;
}
.soz{
    font-family: 'Bakbak One', cursive;
	font-size: 10pt;
	color: #df8829;
	margin-left: 30%;
	margin-top: 1%;
	text-align: center;
}
.sup{
    font-family: 'Bakbak One', cursive;
	font-size: 10pt;
	color: #df8829;
	margin-left: 35%;
	margin-top: 1%;
	text-align: right;
	margin-right: 5%;
}
.prava a:hover{
	color: #ddc3a5;
}
.soz a:hover{
	color: #ddc3a5;
}
.sup a:hover{
	color: #ddc3a5;
}
body{
	background-color: #ddc3a5;
}
.osnova{
	height: 80vh;
	margin-top: 1%;
	background-color: #ddc3a5;}
p{
	color: #df8829;
	font-size: 51px;
	font-family: 'Bakbak One', cursive;
	width: 40%;
	height: 70%;
	margin-left: 5%;
	padding: 10px;
	padding-bottom: 30px;
	background-color: #201e20;
}
form{
	display: block;
	width: 100%;
}
input{
	background-color:#DDC39D ;
	display: block;
	height: 50px;
	width: 300px;
	font-size: 35px;
	border: none;
	outline: none;
	border-radius: 10px;

}

.theme-button{
	margin-left: 20%;
	font-family: 'Bakbak One', cursive;
	font-size: 18pt;
	color: #df8829;
	margin-top: 1.1%;
	cursor: pointer;
}
.theme-button:hover{
	color: #e400ff;
}